$btn_color: #FF7400;
$font_text-color: #656363;
$font_title-color: #D67E34;

/*###############################################*/

@font-face {
    font-family: 'Open-Sans-regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Open-Sans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Tinos';
    src: url(../fonts/Tinos-Regular.ttf);
    font-weight: 400;
}

/*###############################################*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*###############################################*/

.container{
    max-width: 1110px;
    margin: 0 auto;
    @media (max-width: 1025px) {
        max-width: unset;
        padding: 0 10px;
    }
    @media (max-width: 500px) {
        max-width: unset;
        padding: 8 14px;
    }
}

.btn{
    cursor: pointer;
    background-color: $btn_color;
    color: #fff;
    font-family: Open-Sans-bold;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
}

/*###############################################*/


.main{
    background: url(../img/bg_main.svg) no-repeat center center / cover;
    @media (max-width: 863px) {
        background: url(../img/bg_main.svg) no-repeat top center / cover;
    }
    height: 100vh;
    @media (max-width: 500px) {
        height: unset;
        padding-bottom: 305px;
    }
    &__block{
        max-width: 550px;
        margin-top: 154px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 863px) {
            margin-top: 54px;
        }
        @media (max-width: 500px) {
            margin-top: 250px;
        }
    }

    &__subtitle{
        font-family: Tinos;
        font-weight: 400;
        color: $font_title-color;
        font-size: 50px;
        @media (max-width: 863px) {
            font-size: 30px;
        }
    }
    &__title{
        font-family: Tinos;
        font-weight: 400;
        color: $font_title-color;
        font-size: 80px;
        margin-bottom: 12px;
        @media (max-width: 863px) {
            font-size: 60px;
        }
        @media (max-width: 500px) {
           font-size: 40px;
        }
    }
    &__text{
        font-family: Open-Sans-regular;
        font-weight: 400;
        color: #fff;
        font-size: 18px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        &::before, &::after{
            content: '';
            display: block;
            width: 61px;
            height: 2px;
            background-color: #fff;
            @media (max-width: 500px) {
                display: none;
            }
        }
        
        
    }

    &__btn{
        text-transform: uppercase;
        @media (max-width: 863px) {
            text-align: center;
        }
    }
}


.header{
    padding: 50px 34px;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        width: 100px;
        & img{
            width: 100%;
        }
        @media (max-width: 863px) {
            width: 75px;
        }
        @media (max-width: 749px) {
            width: 45px;
        }
    }

    &__burger{
        display: none;
        @media (max-width: 749px) {
            display: block;
        }
    }

    &__block{
        display: flex;
        align-items: center;
        @media (max-width: 749px) {
            display: none;
        }
    }

    &__menu{
        display: flex;
        gap: 23px;
        margin-right: 36px;
        text-transform: uppercase;
        @media (max-width: 863px) {
            font-family: Open-Sans-regular;
            font-weight: 400;
            font-size: 12px;
        }
    }

    &__link{
        font-family: Open-Sans-bold;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        &:hover{
            color: $font_text-color;
        }
        @media (max-width: 863px) {
            font-family: Open-Sans-regular;
            font-weight: 400;
            font-size: 12px;
        }
    }

    &__box{
        display: flex;
        align-items: center;
        margin-right: 45px;
        @media (max-width: 863px) {
            margin-right: 25px;
        }
    }
    
    &__cart{
        border-right: 1px solid #fff;
        padding: 17px 21px 17px 0;
        margin-right: 34px;
        @media (max-width: 863px) {
            margin-right: 20px;
        }
    }

    &__phone{
        &-link{
            font-family: Open-Sans-bold;
            font-weight: 700;
            font-size: 18px;
            color: #fff;
            display: flex;
            gap: 8px;
            &::before{
                content: '';
                background: url(../img/phone.svg);
                display: block;
                width: 23px;
                height: 23px;
            }
            @media (max-width: 863px) {
                font-family: Open-Sans-regular;
                font-weight: 400;
                font-size: 12px;
            }
        }

        &-text{
            font-family: Open-Sans-regular;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            max-width: 155px;
        }
    }

    &__btn{
        text-transform: uppercase;
        @media (max-width: 863px) {
            text-align: center;
        }
    }
}

