/*###############################################*/
@font-face {
  font-family: "Open-Sans-regular";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Open-Sans-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Tinos";
  src: url(../fonts/Tinos-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Cookie";
  src: url(../fonts/Cookie-Regular.ttf);
  font-weight: 400;
}
/*###############################################*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*###############################################*/
.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .container {
    max-width: unset;
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: unset;
    padding: 8 14px;
  }
}

.btn {
  cursor: pointer;
  background-color: #FF7400;
  color: #fff;
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 14px;
  padding: 14px 18px;
}

/*###############################################*/
.main {
  background: url(../img/bg_main.svg) no-repeat center center/cover;
  height: 100vh;
}
@media (max-width: 863px) {
  .main {
    background: url(../img/bg_main.svg) no-repeat top center/cover;
  }
}
@media (max-width: 500px) {
  .main {
    height: unset;
    padding-bottom: 305px;
  }
}
.main__block {
  max-width: 550px;
  margin-top: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 863px) {
  .main__block {
    margin-top: 54px;
  }
}
@media (max-width: 500px) {
  .main__block {
    margin-top: 250px;
  }
}
.main__subtitle {
  font-family: Tinos;
  font-weight: 400;
  color: #D67E34;
  font-size: 50px;
}
@media (max-width: 863px) {
  .main__subtitle {
    font-size: 30px;
  }
}
.main__title {
  font-family: Tinos;
  font-weight: 400;
  color: #D67E34;
  font-size: 80px;
  margin-bottom: 12px;
}
@media (max-width: 863px) {
  .main__title {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .main__title {
    font-size: 40px;
  }
}
.main__text {
  font-family: Open-Sans-regular;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main__text::before, .main__text::after {
  content: "";
  display: block;
  width: 61px;
  height: 2px;
  background-color: #fff;
}
@media (max-width: 500px) {
  .main__text::before, .main__text::after {
    display: none;
  }
}
.main__btn {
  text-transform: uppercase;
}
@media (max-width: 863px) {
  .main__btn {
    text-align: center;
  }
}

.header {
  padding: 50px 34px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
}
.header__logo img {
  width: 100%;
}
@media (max-width: 863px) {
  .header__logo {
    width: 75px;
  }
}
@media (max-width: 749px) {
  .header__logo {
    width: 45px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 749px) {
  .header__burger {
    display: block;
  }
}
.header__block {
  display: flex;
  align-items: center;
}
@media (max-width: 749px) {
  .header__block {
    display: none;
  }
}
.header__menu {
  display: flex;
  gap: 23px;
  margin-right: 36px;
  text-transform: uppercase;
}
@media (max-width: 863px) {
  .header__menu {
    font-family: Open-Sans-regular;
    font-weight: 400;
    font-size: 12px;
  }
}
.header__link {
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.header__link:hover {
  color: #656363;
}
@media (max-width: 863px) {
  .header__link {
    font-family: Open-Sans-regular;
    font-weight: 400;
    font-size: 12px;
  }
}
.header__box {
  display: flex;
  align-items: center;
  margin-right: 45px;
}
@media (max-width: 863px) {
  .header__box {
    margin-right: 25px;
  }
}
.header__cart {
  border-right: 1px solid #fff;
  padding: 17px 21px 17px 0;
  margin-right: 34px;
}
@media (max-width: 863px) {
  .header__cart {
    margin-right: 20px;
  }
}
.header__phone-link {
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  gap: 8px;
}
.header__phone-link::before {
  content: "";
  background: url(../img/phone.svg);
  display: block;
  width: 23px;
  height: 23px;
}
@media (max-width: 863px) {
  .header__phone-link {
    font-family: Open-Sans-regular;
    font-weight: 400;
    font-size: 12px;
    gap: 5px;
  }
}
.header__phone-text {
  font-family: Open-Sans-regular;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  max-width: 155px;
}
.header__btn {
  text-transform: uppercase;
}
@media (max-width: 863px) {
  .header__btn {
    text-align: center;
  }
}

.history {
  padding-top: 200px;
  padding-bottom: 120px;
}
.history__card {
  width: 349px;
  height: 328px;
  box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 40px 19px 19px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -315px;
  margin-bottom: 150px;
}
@media (max-width: 1000px) {
  .history__card {
    width: 50%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
@media (max-width: 863px) {
  .history__card {
    width: 55%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
.history__card-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 1000px) {
  .history__card-wrap {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
}
@media (max-width: 863px) {
  .history__card-wrap {
    gap: 50px;
  }
}
.history__card-title {
  color: #2C2C2C;
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.history__card-title span {
  color: #BC9060;
}
@media (max-width: 500px) {
  .history__card-title {
    font-size: 26px;
  }
}
.history__card-text {
  color: #656363;
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
}
@media (max-width: 500px) {
  .history__card-text {
    font-size: 22px;
  }
}
.history__bottom-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
}
@media (max-width: 863px) {
  .history__bottom-back {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.history__bottom-back__text-part {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.history__bottom-back__text-part__title {
  font-size: 54px;
  font-family: Tinos;
  font-weight: 400;
  margin-bottom: 21px;
}
.history__bottom-back__text-part__title span {
  color: #D67E34;
}
@media (max-width: 863px) {
  .history__bottom-back__text-part__title {
    margin: auto;
    margin-bottom: 48px;
    font-size: 50px;
    width: 181px;
    height: 117px;
  }
}
.history__bottom-back__text-part__subtitle {
  width: 444px;
  height: 217px;
  color: #656363;
  font-family: Open-Sans-regular;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 39px;
}
@media (max-width: 863px) {
  .history__bottom-back__text-part__subtitle {
    font-size: 16px;
    width: 290px;
    height: 341px;
  }
}
.history__bottom-back__img-part {
  width: 350px;
  height: 400px;
  margin-bottom: 122px;
}
@media (max-width: 863px) {
  .history__bottom-back__img-part {
    width: 290px;
    height: 257px;
    margin-bottom: 51px;
  }
}
.history__bottom-back__food-counts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
@media (max-width: 863px) {
  .history__bottom-back__food-counts {
    flex-direction: column;
  }
}
.history__bottom-back__food-count {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}
.history__bottom-back__food-count span {
  color: #BC9060;
  font-size: 40px;
}
@media (max-width: 863px) {
  .history__bottom-back__food-count {
    gap: 2px;
  }
}

.order {
  background: url(../img/bg_order.svg) no-repeat center center/cover;
  margin-bottom: 136px;
}
.order__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}
@media (max-width: 863px) {
  .order__block {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .order__block {
    flex-direction: column;
    justify-content: center;
  }
}
.order__block__text {
  width: auto;
  height: auto;
}
@media (max-width: 863px) {
  .order__block__text {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .order__block__text {
    width: 290px;
    height: auto;
  }
}
.order__block__text__title {
  font-family: Tinos;
  font-weight: 400;
  font-size: 52px;
  width: 606px;
  height: auto;
  color: #D67E34;
  margin-bottom: 20px;
}
@media (max-width: 863px) {
  .order__block__text__title {
    font-size: 45px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .order__block__text__title {
    font-size: 30px;
    width: 290px;
    text-align: center;
  }
}
.order__block__text__subtitle {
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  width: 545px;
}
@media (max-width: 863px) {
  .order__block__text__subtitle {
    font-size: 30px;
    width: 75%;
    height: auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .order__block__text__subtitle {
    font-size: 24px;
    width: 290px;
    height: 66px;
    text-align: center;
    margin-bottom: 24px;
  }
}
.order__block__btn {
  text-wrap: nowrap;
  display: block;
  width: 158px;
  height: 47px;
  text-transform: uppercase;
  font-family: Open-Sans-bold;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 863px) {
  .order__block__btn {
    width: 165px;
    height: 60px;
    font-size: 15px;
    margin-top: 35px;
  }
}
@media (max-width: 500px) {
  .order__block__btn {
    width: 139px;
    height: 43px;
    font-size: 12px;
  }
}

.cooks {
  padding: 0px 17px 0px 15.2px;
  margin-bottom: 137px;
}
.cooks__title {
  display: flex;
  justify-content: center;
  font-family: Tinos;
  font-weight: 400;
  font-size: 54px;
  margin-bottom: 107px;
}
.cooks__title span {
  color: #D67E34;
}
@media (max-width: 863px) {
  .cooks__title {
    margin: auto;
    text-align: center;
    width: 200px;
    font-size: 55px;
    margin-bottom: 81px;
  }
}
@media (max-width: 500px) {
  .cooks__title {
    margin: auto;
    text-align: center;
    width: 123px;
    font-size: 40px;
    margin-bottom: 81px;
  }
}
.cooks__img {
  margin-bottom: 50px;
}
.cooks__img-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .cooks__img-wrap {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    gap: 17px;
  }
}
@media (max-width: 500px) {
  .cooks__img-wrap {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    gap: 17px;
  }
}
.cooks__dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cooks__dots__first-dot {
  width: 7px;
  height: 7px;
  border: 1px solid #FFD4D4;
  border-radius: 90px;
}
.cooks__dots__second-dot {
  width: 5px;
  height: 5px;
  border: 1px solid #C4C4C4;
  border-radius: 90px;
  background-color: #C4C4C4;
}
@media (max-width: 1100px) {
  .cooks__dots {
    display: none;
  }
}

.menu {
  background: url(../img/bg-menu.svg) no-repeat center center/cover;
  padding: 100px 164px 435px 166px;
}
@media (max-width: 1215px) {
  .menu {
    padding: 100px 164px 226px 166px;
  }
}
@media (max-width: 500px) {
  .menu {
    padding: 62px 15px 106px 15px;
  }
}
.menu__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 138px;
  text-wrap: nowrap;
  width: 270px;
  color: #fff;
  font-size: 54px;
  font-family: Tinos;
  font-weight: 400;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.menu__card {
  width: 350px;
  height: 539px;
  gap: 30px;
  background: #fff;
}
@media (max-width: 1215px) {
  .menu__card {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu__card-wrap {
  display: flex;
  justify-content: space-between;
}
.menu__card__recommended {
  position: absolute;
  width: 124px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 13px;
  font-weight: 400;
  font-family: Open-Sans-regular;
  text-transform: uppercase;
  background: #D67E34;
}
.menu__card__img {
  margin-bottom: 22px;
}
.menu__card__img__burger {
  padding: 80px 62px 0px 63px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1215px) {
  .menu__card__img__burger {
    padding: 80px 26px 18px 39px;
  }
}
.menu__card__img__price::after {
  content: "420";
  height: 100px;
  width: 100px;
  background: #D67E34;
  border: 7px solid #fff;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  z-index: 2;
  top: -310px;
  margin: 205px 58px 0 192px;
  font-family: Cookie;
}
@media (max-width: 1215px) {
  .menu__card__img__price::after {
    margin: 205px 21px 0 169px;
    content: "$42";
  }
}
.menu__card__text {
  position: relative;
  top: -310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__card__text__title {
  font-size: 26px;
  font-family: Tinos;
  font-weight: 400;
  margin-bottom: 17px;
}
.menu__card__text__subtitle {
  text-align: center;
  width: 190px;
  font-size: 16px;
  font-family: Open-Sans-regular;
  font-weight: 400;
  margin-bottom: 20px;
}
.menu__card__btn {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -310px;
  width: 220px;
  height: 50px;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  background: #D67E34;
}
.menu__card2 {
  width: 350px;
  height: 539px;
  background: #fff;
}
@media (max-width: 1215px) {
  .menu__card2 {
    display: none;
  }
}
.menu__card2__img {
  margin-bottom: 22px;
}
.menu__card2__img__burger {
  padding: 80px 62px 0px 63px;
  position: relative;
  z-index: 1;
}
.menu__card2__img__price {
  height: 100px;
  width: 100px;
  background: #D67E34;
  border: 7px solid #fff;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  z-index: 2;
  top: -310px;
  margin: 205px 58px 0 192px;
  font-family: Cookie;
}
.menu__card2__text {
  position: relative;
  top: -310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__card2__text__title {
  font-size: 26px;
  font-family: Tinos;
  font-weight: 400;
  margin-bottom: 17px;
}
.menu__card2__text__subtitle {
  text-align: center;
  width: 190px;
  font-size: 16px;
  font-family: Open-Sans-regular;
  font-weight: 400;
  margin-bottom: 20px;
}
.menu__card2__btn {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -310px;
  width: 220px;
  height: 50px;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  background: #D67E34;
}